

<section id="main">
  <h1>Join Us!</h1>


<div class="sign_up_form">
    <%= form_for(@user) do |f| %>

      <div class="field">
        Email:
        <%= f.text_field :email %><br>
      </div>
  
      <div class="field">
        Password:
        <%= f.password_field :password %><br>
      </div>

      <div class="field">
        Type it again:
        <%= f.password_field :password_confirmation %><br>
      </div>

      <div class="action">
        <%= f.submit "Sign Up!" %>
      </div>
    <% end %>
</div>


</section>