
  <%= stylesheet_link_tag  "main.css", :media => "all" %>

<div id="nav">
  <ul>
    <li><%= link_to "How it Works", how_it_works_url %></li>
    <li><%= link_to "Help", help_url %></li>
    <li><%= link_to "Start", start_url %></li>
    <li><%= link_to "About", about_url %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Products", products_path %></li>
    <li><%= link_to "Manufacturers", manufacturers_path %></li>
    <li><%= link_to "Models", models_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
  </ul>
</div>

<h1><%= image_tag "finalogo3.gif" %></h1>

<h2>Hey, what up? You're at Tryzee...</h2>

  <div id="feature">
    <p>The short term  peer-to-peer rental service where manufacturers profit from giving big-ticket products a try.</p>
  </div>

<p>
<a href="about.html">
    <%= image_tag "renterlink.png" %>
<a href="about.html">
    <%= image_tag "renterlink.png" %>
<a href="about.html">
    <%= image_tag "renterlink.png" %>
</p>

    <p>
    <%= image_tag "minilogo2.gif" %>
   </p>
</div>
