<h1>Tryal Reservation!</h1>

<%= form_for @tryal do |f| %>

  <div>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>

    <div>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>

    <div>
    <%= f.label :lender_id %><br />
    <%= f.number_field :lender_id %>
  </div>

    <div>
    <div class="dropdown">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>

    <div>
    <%= f.label :start_at %><br />
    <%= f.text_field :start_at %>
  </div>

    <div>
    <%= f.label :due_at %><br />
    <%= f.date_time :due_at %>
   </div>

    <div>
    <div class="actions"><%= f.submit "Create Tryal!" %></div>
    </div>
<% end %>
