<h1>Tryal #<%= @tryal.id %></h1>

<p>
  <b>Status:</b>
  <%= @tryal.status %>
</p>

<p>
  <b>User:</b>
  <%= @tryal.user_id %>
</p>

<p>
  <b>Lender:</b>
  <%= @tryal.lender_id %>
</p>

<p>
  <b>Product:</b>
  <%= @tryal.product_id %>
</p>

<p>
  <b>Start at:</b>
  <%= @tryal.start_at %>
</p>

<p>
  <b>Due at:</b>
  <%= @tryal.due_at %>
</p>


