<h1>Listing searches</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Location</th>
    <th>Model</th>
    <th>Manufacturer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.category_id %></td>
    <td><%= search.location %></td>
    <td><%= search.model_id %></td>
    <td><%= search.manufacturer_id %></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

