<h1>New Search</h1>


<%= form_tag(searches_url, method: 'post') do %>


  <div>
    <%= label_tag :category %><br />
    <%= text_field_tag :category %>
  </div>

    <div>
    <%= label_tag :manufacturer_id %><br />
    <%= number_field_tag :manufacturer_id %>
  </div>

    <div>
    <%= label_tag :model_id %><br />
    <%= number_field_tag :model_id %>
  </div>

    <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Search" %>
  </div>
<% end %>
