<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="dropdown">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
  <div class="field">
    <%= f.label :location, "Location" %><br />
    <%= f.text_field :location, size: 10 %>
  </div>
   <div class="dropdown">
    <%= f.label :model_id %><br />
    <%= f.collection_select :model_id, Model.order(:name), :id, :name, include_blank: true %>
  </div>
    </div>
  <div class="field">
   <div class="dropdown">
    <%= f.label :manufacturer_id %><br />
    <%= f.collection_select :manufacturer_id, Manufacturer.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
