<h1>Search #<%= @search.id %></h1>

<p>
  <b>Category:</b>
  <%= @search.category %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @search.manufacturer_id %>
</p>

<p>
  <b>Model:</b>
  <%= @search.model_id %>
</p>

<p>
  <b>User:</b>
  <%= @search.user_id %>
</p>


