<h1>Product Profile</h1>


<%= form_tag(products_url, method: 'post') do %>


  <div>
    <%= label_tag :model_id %><br />
    <%= number_field_tag :model_id %>
  </div>

    <div>
    <%= label_tag :photo_url %><br />
    <%= text_field_tag :photo_url %>
  </div>

    <div>
    <%= label_tag :description %><br />
    <%= text_area_tag :description %>
  </div>

    <div>
    <%= label_tag :category_id %><br />
    <%= number_field_tag :category_id %>
  </div>


  <div>
    <%= submit_tag "Create Product" %>
  </div>
<% end %>
