<h1>Tryzee Item: <%= @product.model_name %></h1>

<p>
  <b>Model Name:</b>
  <%= @product.model_name %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer_name %>
</p>

<p>
  <b>Model Number:</b>
  <%= @product.model_id %>
</p>

<p>
  <b>Photo url:</b>
  <%= @product.photo_url %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_name %>
</p>

<%= link_to "Like what you see? Time to Tryzee!", new_tryal_url %>


