<h1>Product #<%= @product.id %></h1>

<p>
  <b>Model:</b>
  <%= @product.model_id %>
</p>

<p>
  <b>Photo url:</b>
  <%= @product.photo_url %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>


