<h1>Manufacturers</h1>

<p><%= link_to 'Add a New Manufacturer', new_manufacturer_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Rebate</th>
      <th>Rebate Description</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= manufacturer.name %></td>
      <td><%= manufacturer.rebate %></td>
      <td><%= manufacturer.rebate_description %></td>

      <td><%= link_to 'Show', manufacturer_url(manufacturer) %></td>
      <td><%= link_to 'Edit', edit_manufacturer_url(manufacturer) %></td>
      <td><%= link_to 'Destroy', manufacturer_url(manufacturer), method: 'delete', data: { confirm: "Do you really want to delete this manufacturer?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

