<div id="login_top">
	<% if signed_in? %>
  		<%= link_to "Dashboard", welcome_path %>
  		<%= link_to "Sign Out",  signout_path, method: "delete" %>
  	<% else %>
		<%= form_for(:session, url: sessions_path) do |f| %>
  		<%= f.text_field :email, :size => 25, :placeholder => "Email" %>
  		<%= f.password_field :password, :size => 15, :placeholder => "Password" %>
  		<%= f.submit "Sign In" %>
		<% end %>
		<div class="or_sign_up">
		<p> or <%= link_to "sign up!", new_user_path %>
		</div>
	<% end %>
</div>

<header>

<%= image_tag("tryzeelogo.png", :height => "100", :alt => "Tryzee") %>

<nav>
<ul>
<li><%= link_to "Home", root_url %></li>
<li><%= link_to "How it Works", how_it_works_url %></li>
<li><%= link_to "Help", help_url %></li>
<li><%= link_to "About", about_url %></li>
<% if signed_in? %>
  <li>%= link_to "Dashboard", about_url %></li>
  <li><%= link_to "Sign Out", welcome_path, method: "delete" %></li>
  <% else %>
  <li><%= link_to "Sign In", new_session_url%></li>
<% end %>
</ul>
</nav>


</header>